@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
.hide-input-arrows::-webkit-outer-spin-button,
.hide-input-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hide-input-arrows[type="number"] {
  -moz-appearance: textfield;
}

button:disabled {
  @apply bg-gray-300 text-gray-600 cursor-not-allowed opacity-60 border border-gray-500 focus:outline-none focus:bg-gray-300 hover:bg-gray-300 active:bg-gray-300;
}

.sticky {
  position: sticky;
}

/* Short Video */
/* global.css or any other global stylesheet */
.short-video::-webkit-media-controls-timeline {
  display: none;
}

.short-video::-webkit-media-controls-current-time-display {
  display: none;
}

.short-video::-webkit-media-controls-time-remaining-display {
  display: none;
}

#xgplayer {
  @apply xl:!pt-[40%];
}

.disable-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}
